@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #F9F9FF;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  margin: 0;
  padding: 0;
}

.side-navbar#myLinks {
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.side-navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 290px;
  height: 100vh;
  background-color: #353353;
  color: #f3f3f3;
  -webkit-animation: fadeout 1s ease-in-out;
          animation: fadeout 1s ease-in-out;
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.side-navbar .nav-items {
  font-size: medium;
  font-weight: 500;
  letter-spacing: 0.025rem;
}
.side-navbar .nav-items li {
  margin: 10px;
  padding: 4px;
}
.side-navbar .nav-items li a i {
  margin-right: 10px;
}
.side-navbar .nav-items .active {
  -webkit-animation: fadein 0.1s ease-in;
          animation: fadein 0.1s ease-in;
  color: #417CD3;
}
@-webkit-keyframes fadein {
  0% {
    color: white;
  }
  100% {
    color: #417CD3;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
}
@keyframes fadein {
  0% {
    color: white;
  }
  100% {
    color: #417CD3;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
}
@-webkit-keyframes fadeout {
  0% {
    color: white;
  }
}
@keyframes fadeout {
  0% {
    color: white;
  }
}
.side-navbar h4 {
  position: absolute;
  bottom: 10px;
  font-size: 13px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

main {
  padding: 0;
  margin: 0;
  transform: none;
  transition: transform 0.3s ease-in-out;
}

.hero-wrapper {
  background-color: #353353;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.hero-wrapper .hamburger-icon {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  margin: 2rem;
  color: white;
}
.hero-wrapper .content {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero-wrapper .content .socials {
  color: white;
  margin-top: 15px;
  padding-inline: 10px;
}
.hero-wrapper .content .socials .discord {
  cursor: pointer;
  margin-inline: 5px;
}
.hero-wrapper .content .socials .instagram {
  cursor: pointer;
  margin-inline: 5px;
}
.hero-wrapper .content .socials .github {
  cursor: pointer;
  margin-inline: 5px;
}
.hero-wrapper .content h1 {
  font-size: 2.5em;
  font-weight: 500;
  margin-bottom: 4px;
  margin-top: 4px;
  color: #f6f6f6;
}
.hero-wrapper .content span {
  color: #f6f6f6;
  letter-spacing: 0.025rem;
  margin-top: 5px;
  margin-bottom: 5px;
}
.hero-wrapper .content .words {
  color: #f6f6f6;
  letter-spacing: 0.025rem;
  margin-top: 5px;
}
.hero-wrapper .content img {
  vertical-align: center;
  width: 200px;
  height: 200px;
  background-color: #d4d4d4;
  background-blend-mode: color-burn;
  border-radius: 50%;
  z-index: 1;
}
.hero-wrapper .content .button {
  cursor: pointer;
  background-color: #CE466D;
  border: none;
  color: white;
  width: 150px;
  height: 50px;
  border-radius: 20px;
  margin-top: 15px;
  font-size: 1.2rem;
  letter-spacing: 0.025rem;
}

.scrolldown {
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.scrolldown .scroll-down-animation {
  width: 60px;
  height: 60px;
}
.scrolldown p {
  color: white;
  font-size: 0.8em;
  text-align: center;
  margin: 0;
}

.about .about-wrapper {
  margin-inline: 2rem;
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
}
.about .about-wrapper .header {
  z-index: 0;
}
.about .about-wrapper .header h2 {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 1rem;
  color: #454460;
  z-index: 1;
}
.about .about-wrapper .header .dot-background {
  position: absolute;
  top: 105vh;
  left: 22px;
  opacity: 0.8;
  z-index: -1;
}
.about .about-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.about .about-content-container .memoji {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #454460;
}
.about .about-content-container .about-content {
  width: 100%;
  margin-inline: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}
.about .stats-container {
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.about .stats-container .stat {
  padding: 1rem;
  display: flex;
  align-items: center;
}
.about .stats-container .stat .stat-content {
  margin-left: 10px;
  font-size: 1.2em;
  font-weight: 500;
  color: #454460;
}
.about .stats-container .stat .stat-content .number {
  font-size: 1.5em;
}
.about .stats-container .stat i {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  color: black;
  opacity: 0.5;
}

.hidden {
  display: none;
}

.go-to-top {
  position: fixed;
  opacity: 0.7;
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  bottom: 20px;
  right: 20px;
  z-index: 1;
}
.go-to-top i {
  opacity: 0.7;
}

.projects .projects-wrapper {
  margin-inline: 2rem;
  margin-top: 4rem;
}
.projects .projects-wrapper .header h2 {
  font-size: 2em;
  font-weight: 500;
  color: #454460;
  margin-bottom: 1rem;
}
.projects .projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1rem));
  padding: 10px;
  gap: 20px;
  justify-content: center;
  margin-bottom: 1rem;
}
.projects .projects-container .card {
  padding: 15px;
  width: 300px;
  height: 350px;
  border-radius: 20px;
  background-color: white;
  color: #454460;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.contact {
  height: 100%;
}
.contact .contact-wrapper {
  margin-inline: 2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.contact .contact-wrapper .header h2 {
  font-size: 2em;
  font-weight: 500;
  color: #454460;
  margin-bottom: 1rem;
}
.contact .contact-wrapper .sub-text {
  font-size: 1em;
  font-weight: 500;
  color: #454460;
  margin-bottom: 1rem;
}
.contact .contact-wrapper .contact-content-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1rem));
  padding: 10px;
  gap: 15px;
  justify-content: center;
  margin-bottom: 1rem;
}
.contact .contact-wrapper .contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.contact .contact-wrapper .contact-container .icon-container {
  color: white;
  width: 70px;
  height: 70px;
  padding: 10px;
  border-radius: 50%;
  background-color: #454460;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.go-to-top:hover {
  opacity: 0.9;
}
.go-to-top:hover i {
  opacity: 0.9;
}

@media only screen and (min-height: 750px) {
  .hero-wrapper {
    justify-content: space-around;
  }
  .hero-wrapper .content {
    margin-top: 0;
  }
}
@media only screen and (min-width: 1200px) {
  main {
    margin-left: 290px;
  }

  .side-navbar#myLinks {
    display: flex;
    transform: translateX(0%);
    transition: transform ease-in-out;
  }

  #hamburger-button {
    display: none;
  }

  .about .header {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin-top: 2rem;
  }
  .about .dot-background {
    margin-left: 50%;
  }
  .about .about-content-container {
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
  }
  .about .about-content-container .memoji {
    width: 200px;
    height: 200px;
  }
  .about .about-content-container .about-content {
    width: 50vh;
    margin-inline: 4rem;
    font-size: large;
  }

  .projects .projects-wrapper {
    margin-inline: 2rem;
    margin-top: 4rem;
  }
  .projects .projects-wrapper .header {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: #454460;
    margin-bottom: 2rem;
  }
}
.contact {
  margin-top: 8rem;
  height: 100%;
}
.contact .header {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  color: #454460;
  margin-bottom: 2rem;
}
.contact .sub-text {
  font-size: 1rem;
  font-weight: 500;
  color: #454460;
  margin-bottom: 1rem;
  text-align: center;
}/*# sourceMappingURL=main.css.map */